{% extends 'movie/base.html'%}

{% block body %}
            {% for type in all_types %}
                <div>
                <img src="{{type.poster}}" width="400" height="300">
                <a href="{% url 'movie:type-update' type.id %}">Update</a>
                    <h1>{{type.name}}</h1>
                </div>
                <div>
                    <a class="btn btn-success" href="{% url 'movie:detail' type.id %}">GO TO</a>
                </div>
                <form action="{% url 'movie:type-delete' type.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Delete
                    </button>
                </form>
            {% endfor %}
{% endblock %}