{% extends 'blog/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8" style ='background-color: #f2f2f2;'>
            <div class="text-center">
                <h2>{{ article.title }}</h2>
                <p><span class="glyphicon"></span>Posted by <b>{{ article.author }}</b> on {{ article.created_on }}</p>
                <br>
            </div>
            <div>
            <p class="lead">{{ article.body | safe}}</p>
            </div>
            <div class="article-details-likes-button">{% include 'blog/like.html' %} Likes : {{ article.likes }}</div>
            <div class="article-details-dislikes-button">{% include 'blog/dislike.html' %}  Dislikes : {{ article.dislikes }}</div>
            <hr><br><br>

            {% include 'blog/comment.html' %}

        </div>
    </div>

</div>

{% endblock content %}