{% block content %}
<div class="col-sm-12" style ='background-color: #ccffcc;'>
    <form method="post" action="{% url 'catalog:comment' article_id %}">
    <h4 class="'lead">Add a comment: </h4>
        {% csrf_token %}
        {% for field in form %}
        {{ field }}
        {{ field.errors }}
        <br>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</div>
<div class="col-sm-12">
    <hr class="hr-line">
    <h4 class="'lead">Comments: </h4>
    <hr class="hr-line">
    {% for comment in comment_list %}
        <span class="'user-nickname">Author: {{ comment.user_name }}</span>
        <time class="comment-author time">Date: {{ comment.created_on }}</time>
        <div class="comment">{{ comment.body | safe }}</div>
        {% if comment.user_name == user.get_username %}
            <form method="post" action="{% url 'catalog:comment_remove' article_id comment.pk %}">
            {% csrf_token %}
        <button type="submit">Remove</button></form>
        {% endif %}
    <hr class="hr-line">
    {% endfor %}
</div>

{% endblock content %}