{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Edit answer
{% endblock %}

{% block CSS %}
<link rel="stylesheet" href="{% static 'css/question.css' %}">
    <link rel="stylesheet" href="{% static 'css/edit.css' %}">
{% endblock %}

{% block content %}
    <div id="question">
        <div id="title">{{ question.title }}</div>
        <table>
            <tr>
                <td class="votes"> {{ question.getRating }} </td>
                <td class="content">
                    {{ question.content }}
                    <div id="questionCategories">
                        {% for cat in question.categories.all %}
                            <a href ="#" class = "category">{{ cat }}</a>
                        {% endfor %}
                    </div>
                </td>
                <td class="details">
                    <div class="author"> Author: {{ question.author }} </div>
                    <div class="date"> Date: {{ question.askDate|date:'Y-m-d H:i' }} </div>
                </td>
            </tr>
        </table>
    </div>
        {% if user == answer.author or user.is_staff and perms.question.can_change_question %}
            <div id="editAnswer">
                {% if form.errors %}
                    <div class="Error"> {{ form.errors }} </div>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></div>
                        {{ form.content }}
                    </div>
                    <div class="SubmitButton">
                        <button type="submit" class="btn btn-primary" value="send">Send</button>
                    </div>
                </form>
            </div>
        {% else %}
            <div class="Error"> You don't have permission to edit this answer.</div>
        {% endif %}
{% endblock %}