{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Edit question
{% endblock %}

{% block CSS %}
    <link rel="stylesheet" href="{% static 'css/edit.css' %}">
    <link rel="stylesheet" href="{% static 'css/question.css' %}">
{% endblock %}

{% block content %}
    <div id="question">
        <div id="title"> {{ question.title }} </div>
        <table>
            <tr>
                <td class="votes">{{ question.getRating }}</td>
                <td class="content">
                    {{ question.content }}
                    <div id="questionCategories">
                        {% for cat in question.categories.all %}
                            <a href = "/category/{{ cat }}/1" class = "category">{{ cat }}</a>
                        {% endfor %}
                    </div>
                </td>
                <td class="details">
                    <div class="author"> Author: {{ question.author }} </div>
                    <div class="date"> Date: {{ question.askDate|date:'Y-m-d H:i' }} </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="answers">
        {% for ans in question.answers.all %}
            <table>
                <tr id="{{ forloop.counter }}">
                    <td class="votes"> {{ ans.getRating }} </td>
                    <td class="content"> {{ ans.content }} </td>
                    <td class="details">
                        <div class="author"> Author: {{ ans.author }} </div>
                        <div class="date"> Date: {{ ans.answerDate|date:'Y-m-d H:i' }} </div>
                    </td>
                </tr>
                <hr/>
            </table>
        {% endfor %}
    </div>
    {% if user == answer.author or user.is_staff and perms.question.can_change_question %}
        <div id="editQuestion">
            {% if form.errors %}
                <div class="Error"> {{ form.errors }} </div>
            {% endif %}
            <form method="post" action="">
                {% csrf_token %}
                <div class="input-group">
                    <div class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></div>
                    {{ form.title }}
                </div>
                <div class="input-group">
                    <div class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></div>
                    {{ form.content }}
                </div>
                <h4>Categories</h4>
                <small>Press ctrl to select multiple categories.</small>
                <div id="categories">
                    <div class="checkboxField">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="glyphicon glyphicon-check"></i></div>
                            {{ form.categories }}
                        </div>
                    </div>
                </div>
                <div class="SubmitButton">
                    <button type="submit" class="btn btn-primary" value="Confirm">Confirm</button>
                </div>
            </form>
        </div>
    {% else %}
        <div class="Error"> You cannot edit this answer </div>
    {% endif %}
{% endblock %}