{% extends "store/base.html" %}
{% block content %}
    <article class="media content-section">
          <div class="media-body">
            <div class="rama">
            </div>
              <div class="col-75">
                  <select id="stocks" name="name">
                      {% for i in st %}
                        <option value=name>{{ i.name }}</option>
                      {% endfor %}
                  </select>
              </div>
              <div class="form-group">
                <button class="btn blue-btn" type="submit"> Sprzedaj </button>
              </div>
          </div>
    </article>
{% endblock content %}