{% extends "store/base.html" %}
{% block content %}
    <article class="media content-section">
          <div class="media-body">
            <div class="rama">
              <h5 class="mr-2">{{ object.transaction_date }}</h5>
                <a class="article-title">{{ object.client.First_name }} {{ object.client.Last_name }}</a>
            </div>
              <a class="article-title" href="{% url 'magazine-detail' object.stock.id %}">Towar: {{ object.stock.name }} </a>
              <div class="form-group">
                <a class="btn blue-btn" href="{% url 'sells-update' object.pk %}"> Edytuj </a>
                  <a class="btn red-btn" href="{% url 'sells-delete' object.pk %}"> Usuń </a>
              </div>
          </div>
    </article>
{% endblock content %}