{% include "main.html" %}
{% load staticfiles %}
<link rel="stylesheet", href="{% static 'css/zapisy.css' %}">
<div class ="container">
<h1>Twoje Zajęcia:</h1>
    <div class="col">
    <div class="row">
    <botton><a href="{% url 'create'%}" class="btn btn-primary" role="button">Dodaj Zajecia</a></botton>
        {% if object_list %}
<table>
    {% for obj in object_list %}
        <tr>
            <td>{{obj.get_your_choice_display}}</td>
            <td>{{obj.get_day_choice_display}}</td>
            <td>{{obj.get_hour_choice_display}}</td>
            <td><a href="{{obj.get_absolute_url}}" class="btn btn-primary" role="button">Edytuj</a></td>
         </tr>
    {% endfor %}
    </table>
        {% else %}
        <p>Nie jesteś zapisany na żadne zajęcia</p>
        {% endif %}
        </div>
        </div>
</div>
