{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Ask a question
    {% if is_paginated %}
        | Page: {{ page_obj.number }}
    {% endif %}
{% endblock %}

{% block CSS %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <div id="questionNavbar">
        {% if user.is_authenticated %}
            <div id="addQuestionButton">
                <a href="question/add" class="btn btn-default" role="button">Add new question</a>
            </div>
        {% endif %}
        
        <div id="sortbyDropdown">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="sortDropdown" data-toggle="dropdown" aria-haspopup="true">Sort by <span class="glyphicon glyphicon-sort"></span></button>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="sortDropdown">
                {% if request.resolver_match.kwargs.category %}
                    <li><a href="{% url 'index' category=request.resolver_match.kwargs.category page=page_obj.number sortby='date-asc' %}">Date <span class="glyphicon glyphicon-sort-by-attributes"></span></a></li>
                    <li><a href="{% url 'index' category=request.resolver_match.kwargs.category page=page_obj.number sortby='date-desc' %}">Date <span class="glyphicon glyphicon-sort-by-attributes-alt"></span></a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'index' category=request.resolver_match.kwargs.category page=page_obj.number sortby='votes-asc' %}">Votes <span class="glyphicon glyphicon-sort-by-attributes"></span></a></li>
                    <li><a href="{% url 'index' category=request.resolver_match.kwargs.category page=page_obj.number sortby='votes-desc' %}">Votes <span class="glyphicon glyphicon-sort-by-attributes-alt"></span></a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'index' category=request.resolver_match.kwargs.category page=page_obj.number sortby='views-asc' %}">Views <span class="glyphicon glyphicon-sort-by-attributes"></span></a></li>
                    <li><a href="{% url 'index' category=request.resolver_match.kwargs.category page=page_obj.number sortby='views-desc' %}">Views <span class="glyphicon glyphicon-sort-by-attributes-alt"></span></a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'index' category=request.resolver_match.kwargs.category page=page_obj.number sortby='answers-asc' %}">Answers <span class="glyphicon glyphicon-sort-by-attributes"></span></a></li>
                    <li><a href="{% url 'index' category=request.resolver_match.kwargs.category page=page_obj.number sortby='answers-desc' %}">Answers <span class="glyphicon glyphicon-sort-by-attributes-alt"></span></a></li>
                {% else %}
                    <li><a href="{% url 'index' page=page_obj.number sortby='date-asc' %}">Date <span class="glyphicon glyphicon-sort-by-attributes"></span></a></li>
                    <li><a href="{% url 'index' page=page_obj.number sortby='date-desc' %}">Date <span class="glyphicon glyphicon-sort-by-attributes-alt"></span></a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'index' page=page_obj.number sortby='votes-asc' %}">Votes <span class="glyphicon glyphicon-sort-by-attributes"></span></a></li>
                    <li><a href="{% url 'index' page=page_obj.number sortby='votes-desc' %}">Votes <span class="glyphicon glyphicon-sort-by-attributes-alt"></span></a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'index' page=page_obj.number sortby='views-asc' %}">Views <span class="glyphicon glyphicon-sort-by-attributes"></span></a></li>
                    <li><a href="{% url 'index' page=page_obj.number sortby='views-desc' %}">Views <span class="glyphicon glyphicon-sort-by-attributes-alt"></span></a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'index' page=page_obj.number sortby='answers-asc' %}">Answers <span class="glyphicon glyphicon-sort-by-attributes"></span></a></li>
                    <li><a href="{% url 'index' page=page_obj.number sortby='answers-desc' %}">Answers <span class="glyphicon glyphicon-sort-by-attributes-alt"></span></a></li>
                {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <table>
        {% for question in questions %}
            <tr>
                <td class="votes">
                    {{ question.getRating }} <br/>
                    <small>Votes</small>
                </td>
                <td class="views">
                    {{ question.getViews }} <br/>
                    <small>Views</small>
                </td>
                <td class ="answers">
                    {{ question.getAnswerCount }} <br/>
                    <small>Answers</small>
                </td>
                <td class="question">
                    <a href="{% url 'question' pk=question.pk %}">{{ question.title }}</a> <br/>
                    {% for cat in question.categories.all %}
                        <a href = "/category/{{ cat }}/1" class = "category">{{ cat }}</a>
                    {% endfor %}
                    <br/>
                    <div class="detail"><b>{{ question.askDate|date:'Y-m-d H:i' }}</b> by {{ question.author }}</div>
                </td>
            </tr>
        {% empty %}
            <tr><th>Nobody asked a question</th></tr>
        {% endfor %}
    </table>
    {% if is_paginated %}
        <div id="pageNumbers">
            {% if request.resolver_match.kwargs.category %}
                {% if request.resolver_match.kwargs.sortby %}
                    {% if page_obj.has_previous %}
                        <a href="{% url 'index' category=request.resolver_match.kwargs.category page=page_obj.previous_page_number sortby=request.resolver_match.kwargs.sortby %}" class="page">Previous page</a>
                    {% endif %}
                    {% for pageNumber in page_obj.paginator.page_range %}
                        {% if pageNumber == page_obj.number %}
                            <a href="#" class="currentPage"> {{ pageNumber }} </a>
                        {% else %}
                            <a href="{% url 'index' category=request.resolver_match.kwargs.category page=pageNumber sortby=request.resolver_match.kwargs.sortby %}" class="page"> {{ pageNumber }} </a>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <a href="{% url 'index' category=request.resolver_match.kwargs.category page=page_obj.next_page_number sortby=request.resolver_match.kwargs.sortby %}" class="page">Next page</a>
                    {% endif %}
                {% else %}
                    {% if page_obj.has_previous %}
                        <a href="{% url 'index' category=request.resolver_match.kwargs.category page=page_obj.previous_page_number sortby='' %}" class="page">Previous page</a>
                    {% endif %}
                    {% for pageNumber in page_obj.paginator.page_range %}
                        {% if pageNumber == page_obj.number %}
                            <a href="#" class="currentPage"> {{ pageNumber }} </a>
                        {% else %}
                            <a href="{% url 'index' category=request.resolver_match.kwargs.category page=pageNumber sortby='' %}" class="page"> {{ pageNumber }} </a>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <a href="{% url 'index' category=request.resolver_match.kwargs.category page=page_obj.next_page_number sortby='' %}" class="page">Next page</a>
                    {% endif %}
                {% endif %}

            {% else %}
                {% if request.resolver_match.kwargs.sortby %}
                    {% if page_obj.has_previous %}
                        <a href="{% url 'index' page=page_obj.previous_page_number sortby=request.resolver_match.kwargs.sortby %}" class="page">Previous page</a>
                    {% endif %}
                    {% for pageNumber in page_obj.paginator.page_range %}
                        {% if pageNumber == page_obj.number %}
                            <a href="#" class="currentPage"> {{ pageNumber }} </a>
                        {% else %}
                            <a href="{% url 'index' page=pageNumber sortby=request.resolver_match.kwargs.sortby %}" class="page"> {{ pageNumber }} </a>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <a href="{% url 'index' page=page_obj.next_page_number sortby=request.resolver_match.kwargs.sortby %}" class="page">Next page</a>
                    {% endif %}
                {% else %}
                    {% if page_obj.has_previous %}
                        <a href="{% url 'index' page=page_obj.previous_page_number %}" class="page">Previous page</a>
                    {% endif %}
                    {% for pageNumber in page_obj.paginator.page_range %}
                        {% if pageNumber == page_obj.number %}
                            <a href="#" class="currentPage"> {{ pageNumber }} </a>
                        {% else %}
                            <a href="{% url 'index' page=pageNumber %}" class="page"> {{ pageNumber }} </a>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <a href="{% url 'index' page=page_obj.next_page_number %}" class="page">Next page</a>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}