.bodyImage{
    background-color: #cccccc;
    background-image: url("images/background.png");
}



.black_back{
    background: black;
}

ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}

.navbar {
    border-radius: 0;
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
}

.glyphicon-star {
    color: #CCCCCC;
    font-size: 16px;
}

.glyphicon-star.active {
    color: #FDB230;
}