{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block head_title %}dance studio{% endblock head_title %}
    </title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet", href='{% static "css/main.css" %}'/>
</head>
<body>
    <div class="container">
        <div class="navbar">
          <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'kadra' %}" >Kadra</a>
            <a href="{% url 'zajecia' %}">Zajęcia</a>
            <a href="{% url 'grafik' %}">Grafik</a>
            <a href="{% url 'cennik' %}">Cennik</a>
            <a href="{% url 'zapisy' %}">Zapisy</a>
            <a href="{% url 'contact' %}">Kontakt</a>
        <div class="dropdown">
        <button class="dropbtn">Logowanie
        <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}">Wyloguj się
                </a>
            {% else %}
                <a href="{% url 'logowanie' %}">Zaloguj się
                </a>
            {% endif%}
          <!--<a href="{% url 'logowanie' %}">Zaloguj się</a>-->
          <!--<a href="{% url 'logout' %}">Wyloguj się</a>-->
          <a href="{% url 'rejestracja' %}">Zarejestruj się</a>
        </div>
    </div>
    </div>

        {% block content %}
        {% endblock content %}
    </div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>