.grafik{
    position: relative;
}
.grafik img {
    width: 40%;
    height: 30px;
}

.grafik .btn {
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.grafik .btn:hover {
    background-color: black;
}
.btn {
    background: #333;
    color: #FFF;
    height: 45px;
    width: 130px;
}
.cos{
    font-size:4em;
}
.btn {
    background: #333;
    color: #FFF;
    height: 45px;
    width: 130px;
}