body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #D6D6D6;
}

#header {
    height: 50px;
    margin: 0px 1px 0px 1px;
    background-color: #C4C4C4;
    border-bottom: 1px solid #B5B5B5;
}

.Button {
    vertical-align: bottom;
    margin: 3px 5px 0px 5px;
    padding: 0px 15px 0px 15px;
    display:inline-block;
    height: 42px;
    line-height: 42px;
    background-color: #C4C4C4;
    outline: 4px solid #C4C4C4;
    border-bottom: 0px solid white;
    border-top: 0px solid white;
    border-left: 2px solid #B5B5B5;
    border-right: 2px solid #B5B5B5;
    color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.Button:hover {
    background-color: #CBCBCB;
    outline: 4px solid #CBCBCB;
    text-decoration: none;
    color: darkslategray;
}

#auth {
    float: right;
    line-height: 42px;
}

#mainContent {
    float: center;
    padding: 1px 10px 5px 10px;
    margin: 0px 100px 0px 100px;
    background-color: #EFEFEF;
}

#mainContent table {
    width: 100%;
}

#mainContent tr {
    border-bottom: 1px solid #B5B5B5;
    background-color: #EFEFEF;
}

#mainContent tr:hover {
    background-color: #E5E5E5;
}

#mainContent td {
    text-align: center;
    height: 70px;
}

#mainContent small {
    font-size: 75%;
    font-weight: bold;
    color: darkgray;
}

#backToTop {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#footer {
    padding: 15px 0px 15px 10px;
    margin: 0px 1px 1px 1px;
    background-color: #C4C4C4;
    border-top: 1px solid #B5B5B5;
    text-align: center;
}

.Error {
    padding: 0 10px 0 10px;
    margin: 20px auto 20px auto;
    line-height: 50px;
    background-color: #ff9191;
    border-radius: 10px;
    border: 1px solid #CBCBCB;
}

.errorlist {
    margin: 0;
    padding: 5px 5px 5px 10px;
    line-height: 100%;
}