#editAnswer {
    width: 65%;
    padding: 15px 15px 35px 15px;
    margin: 10px auto 10px auto;
    border-radius: 10px;
    background-color: #E3E3E3;
    border: 1px solid #CBCBCB;
}

#editQuestion {
    width: 75%;
    background-color: #E3E3E3;
    margin: 20px auto 20px auto;
    padding: 15px 20px 55px 20px;
    border-radius: 10px;
    border: 1px solid #CBCBCB;
}

.SubmitButton {
    padding-top: 5px;
    float: right;
}