#FormContent {
    width: 75%;
    background-color: #E3E3E3;
    margin: 20px auto 20px auto;
    padding: 15px 20px 55px 20px;
    border-radius: 10px;
    border: 1px solid #CBCBCB;
}

#categories {
    padding-top: 5px;
}

#CategoryButtons {
    padding: 5px 0px 5px 0px;
    margin: -10px 0 0 0;
}

#categories hr {
    border: 1px solid #CBCBCB;
    margin: 5px;
}

.checkboxField {
    width: 25%;
}

.SubmitButton {
    float: right;
}