[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true


[dev-packages]

ptpython = "*"
django-extensions = "*"


[packages]

Django = "*"
graphene-django = "*"
django-fullclean = "*"


[requires]

python_version = "3.5"
