{% include "main.html" %}
{% load staticfiles %}
<link rel="stylesheet", href="{% static 'css/grafik.css' %}">
<div class = "container">
    <h1>grafik</h1>
    <div class="table">
        <table>
            <thead id="head">
            <tr>
                <th></th>
                <th>PONIEDZIAŁEK</th>
                <th>WTOREK</th>
                <th>ŚRODA</th>
                <th>CZWARTEK</th>
                <th>PIĄTEK</th>
                <th>SOBOTA</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>10:00</th>
                <td>modern jazz</td>
                <td>Taniec Afro</td>
                <td></td>
                <td>modern balet</td>
                <td>Taniec Afro</td>
                <td>Break dance</td>
            </tr>
            <tr>
                <th>16:00</th>
                <td>modern jazz</td>
                <td></td>
                <td>Taniec Afro</td>
                <td>modern balet</td>
                <td>modern balet</td>
                <td>Break dance</td>
            </tr>
            <tr>
                <th>18:00</th>
                <td>modern jazz</td>
                <td>Taniec Afro</td>
                <td>modern balet</td>
                <td>modern balet</td>
                <td>Break dance</td>
                <td>modern balet</td>
            </tr>
            <tr>
                <th>20:00</th>
                <td>modern jazz</td>
                <td>Taniec Afro</td>
                <td></td>
                <td>modern balet</td>
                <td>modern balet</td>
                <td>Break dance</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>